.container {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    border-radius: 15px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 65%;
    
  }
  
  .cardBig {
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #495464;
  }
  
  .cardSmall {
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #495464;
  }
  
  .form-inline {
    display: inline-block;
    width: 80%;
    border-radius: 5px;
    font-size: 20px;
    color: #495464;
  }

  .weathericons,
  .days {
    color: #495464;
    font-size: 20px;
    position: relative;
    padding: 3px;
  }
  
  .currentdate {
    color: #495464;
    font-size: 25px;
    padding-left: 25px;
  }
  
  .currentCity {
    padding-left: 25px;
    color: #495464;
    font-size: 45px;
    font-weight: lighter;
  }
  
  .humidityWind {
    color: #495464;
    font-size: 25px;
    padding-left: 25px;
    text-align: left;
    position: relative;
  }
  
.currentTemperature {
    color: #495464;
    font-size: 25px;
    padding-left: 25px;

}



.linkGit {
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    font-size: 10px;
}

